{% extends 'dashboard/account/_layout.html.twig' %}

{% block main %}
    <twig:Header title="{{ 'account.personal_information.update.title'|trans }}">
        <a href="{{ path('dashboard.account') }}" class="button button-danger">
            {{ 'account.personal_information.update.cancel'|trans }}
        </a>
    </twig:Header>

    <twig:Card>
        <twig:CardBody>
            {{ form(form) }}
        </twig:CardBody>
    </twig:Card>
{% endblock %}