{% form_theme form 'form/_theme.html.twig' %}

{% extends 'dashboard/_layout.html.twig' %}

{% block main %}
    <twig:Card>
        <twig:CardHeader title="{{ 'dashboard.bill.add.title'|trans }}">
            {% block action %}
                <a href="{{ path('dashboard') }}" class="button button-danger">
                    {{ 'dashboard.bill.add.cancel'|trans }}
                </a>
            {% endblock %}
        </twig:CardHeader>
        <twig:CardBody>
            {{ form(form) }}
        </twig:CardBody>
    </twig:Card>
{% endblock %}