{% extends 'dashboard/_layout.html.twig' %}

{% block main %}
    <twig:Header title="{{ 'dashboard.transaction.update.title'|trans }}">
        <a href="{{ path('dashboard') }}" class="button button-danger">
            {{ 'dashboard.transaction.update.cancel'|trans }}
        </a>
    </twig:Header>

    <twig:Card>
        <twig:CardBody>
            {{ form(form) }}
        </twig:CardBody>
    </twig:Card>
{% endblock %}
